body{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "main_content" "footer";
    background-color: white;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    gap: 10px;
}

header{
    grid-area: header;
    align-self: center;
    font-family: sans-serif;
    height: 32vh;
    font-size:medium;
    text-align: left;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 150px;
}

#map_title {
    text-align: left;
    margin-left: 225px;
}

#footer{
    grid-area: footer;
    text-align: right;
    font-family: sans-serif;
    font-size: smaller;
}

.main{
    grid-area: main_content;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "main_map content";
    display: grid;
}

#the_map{
    height:70vh;
    grid-area: main_map;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    align-items: center;
    justify-items: center;
    display: grid;
    border-radius: 7px;
}

#survey_button {
    grid-area: surveybutton;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    height: 10vh;
}

#button_link{
    vertical-align: middle;
    background-color: transparent;
	border: 2px solid black;
	border-radius: 5px;
	margin: 0.5rem;
    margin-bottom: 0.4rem;
	cursor: pointer;
	padding: 0.5rem 1rem;
	font-size: 1rem;
}

#button_link:hover {
	transform: scale(1.05);
    background-color: #bdd7e7;
    transition: 0.2s;
}

#story_area{
    grid-area: story;
    background-color: white;
    overflow: scroll;
    margin-left: 10px;
    margin-right: 0px;
    height: 60vh;
}

#legend{
    z-index: 9999;
    background-color: rgb(255, 255, 255);
    opacity: 0.85;
    border-radius: 7px;
    padding: 10px;
    position: relative;
    margin-top: 15px;
    grid-row: 1;
    grid-column: 1;
}

#contents {
    grid-area: content;
    background-color: white;
    grid-template-rows: auto auto;
    grid-template-areas: "surveybuttons story"
}